<div class="vid-container">
    <img class="bgvid bg common" src="{{image}}" />

    <div class="inner-container  animated" [ngClass]="{ 'fadeInDown': isLoaded && !wrongPassword, 'fadeOutDown': isLoggedIn , 'shake': isLoaded && wrongPassword}">
        <img class="bgvid inner bg2 common" src="{{image}}" />
        <form class="bootstrap-form-with-validation " (submit)="onSubmit($event, user.value, pass.value)">
            <div class="box">
                <h1>Login</h1>
                <input #user type="text" class="form-control input-lg" placeholder="Username" />
                <input #pass type="password" class="form-control input-lg" placeholder="Password" />
                <button type="submit">Login</button>
                <p>Test your luck: <span (click)="changeBg()">Lucky Link!</span></p>
            </div>
        </form>
    </div>
</div>