<style type="text/css">
    body {
        padding: 0;
        margin: 0;
    }
    
    .vid-container {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }
    
    .bgvid {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
    }
    
    .inner-container {
        width: 400px;
        height: 400px;
        position: absolute;
        top: calc(50vh - 200px);
        left: calc(50vw - 200px);
        overflow: hidden;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.7);
        border-top: 5px solid cadetblue;
        border-bottom: 5px solid cadetblue;
    }
    
    .bgvid.inner {
        top: calc(-50vh + 200px);
        left: calc(-50vw + 200px);
        filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
        -webkit-filter: blur(10px);
        -ms-filter: blur(10px);
        -o-filter: blur(10px);
        filter: blur(10px);
    }
    
    .box {
        position: absolute;
        height: 100%;
        width: 100%;
        font-family: Helvetica;
        color: #fff;
        background: rgba(0, 0, 0, 0.13);
        padding: 30px 0px;
    }
    
    .box h1 {
        text-align: center;
        margin: 30px 0;
        font-size: 30px;
    }
    
    .box input {
        display: block;
        width: 300px;
        margin: 20px auto;
        padding: 15px;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
        border: 0;
    }
    
    .box input:focus,
    .box input:active,
    .box button:focus,
    .box button:active {
        outline: none;
    }
    
    .box button {
        background: #2ecc71;
        border: 0;
        color: #fff;
        padding: 10px;
        font-size: 20px;
        width: 330px;
        margin: 20px auto;
        display: block;
        cursor: pointer;
    }
    
    .box button:active {
        background: #27ae60;
    }
    
    .box p {
        font-size: 14px;
        text-align: center;
    }
    
    .box p span {
        cursor: pointer;
        color: #666;
    }
    
    .common {
        min-height: 100vh;
        position: absolute;
    }
</style>
<div class="vid-container animated fadeIn">
    <img class="bgvid bg common" src="{{image}}" />

    <div class="inner-container  animated" [ngClass]="{ 'fadeInDown': isLoaded && !wrongPassword, 'fadeOutDown': isLoggedIn , 'shake': isLoaded && wrongPassword}">
        <img class="bgvid inner bg2 common" src="{{image}}" />
        <form class="bootstrap-form-with-validation " (submit)="onSubmit($event, user.value, pass.value)">
            <div class="box">
                <h1>Login</h1>
                <input #user type="text" class="form-control input-lg" placeholder="Username" />
                <input #pass type="password" class="form-control input-lg" placeholder="Password" />
                <button type="submit">Login</button>
                <p>Test your luck: <span (click)="changeBg()">Lucky Link!</span></p>
            </div>
        </form>
    </div>
</div>